# ignore all
*
!bayesian-hmm/
bayesian-hmm/*
!bayesian-hmm/core
bayesian-hmm/core/*
!hpylm-hmm/
hpylm-hmm/*
!hpylm-hmm/core
hpylm-hmm/core/*
!infinite-tree-hmm/
infinite-tree-hmm/*
!infinite-tree-hmm/src
infinite-tree-hmm/src/*
!infinite-tree-hmm/src/ithmm
infinite-tree-hmm/src/ithmm/*
!infinite-hmm/
infinite-hmm/*
!infinite-hmm/core
infinite-hmm/core/*

# allow any
!.gitignore
!*.py
!*.h
!*.hpp
!*.cpp
!README.md
!makefile
!alice.txt
!wiki.txt
!aozora.txt

# ignore
aozora.py